@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* HEADER */

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

header .left {
    height: 100%;
    margin-left: 8vw;
    overflow-y: hidden;
}

header img {
    height: 15vh;
    cursor: pointer;
}

header .right {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.right a {
    font-family: 'Lilita One';
    font-size: 1.1vw;
    color: #111111;
    margin: auto 0 auto 0;
    text-decoration: none;
}

.right .bar {
    width: 10vw;
    height: 0.4vh;
    background-color: #11111100;
    position: absolute;
    margin-top: 10vh;
    right: 33.5vw;
    transition: ease-in-out 0.4s;
}

/* MAIN */

/* HOME */

#home {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home .title {
    margin-left: 8vw;
    width: 50%;
    height: 50%;
    font-family: 'Lilita One';
    color: #111111;
}

#home p {
    margin-top: 5vh;
    font-size: 1.25vw;
    line-height: 3.5vh;
}

#home p b {
    font-style: italic;

    color: #9d2424;
}

.name {
    font-size: 2.5vw;
}

.name b {
    font-size: 3.5vw;
    color: #9d2424;
    font-style: italic;
    margin-right: 1vw;
}

.slogan {
    font-size: 2.5vw;
    font-style: italic;
}

#home .illustration {
    width: 30vw;
    height: 30vw;
    position: absolute;
    overflow: hidden;
    right: 8vw;
}

#home .illustration img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#home svg {
    position: absolute;
    margin: 55vh 0 0 63vw;
    height: 110vh;
    width: 100vw;
    z-index: -1;
}

/* QUI SOMMES NOUS */

#qui-sommes-nous {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

#qui-sommes-nous .illustration {
    width: 40vw;
    height: 40vw;
    top: 109vh;
    position: absolute;
    overflow: hidden;
    right: -5vw;
}

#qui-sommes-nous .illustration img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#qui-sommes-nous .title {
    margin-top: 30vh;
    margin-left: 8vw;
    width: 50%;
    height: 100%;
    font-family: 'Lilita One';
    color: #111111;
}

#qui-sommes-nous p {
    margin-top: 5vh;
    font-size: 1.25vw;
    line-height: 3.5vh;
}

#qui-sommes-nous p b {
    font-style: italic;
    color: #9d2424;
}

/* NOUS REJOINDRE */

#nous-rejoindre {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
}

#nous-rejoindre .title {
    margin-top: 30vh;
    margin-left: 8vw;
    width: 50%;
    height: 100%;
    font-family: 'Lilita One';
    color: #111111;
}

#nous-rejoindre p {
    margin-top: 5vh;
    font-size: 1.25vw;
    line-height: 3.5vh;
}

#nous-rejoindre p b {
    font-style: italic;
    color: #9d2424;
}

#nous-rejoindre .boutons {
    margin: auto;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}

#nous-rejoindre button {
    color: #f5f5f5;
    background-color: #125C34;
    font-family: 'Lilita One';
    font-size: 2vw;
    width: 15vw;
    height: 8vh;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transform:matrix(1.00,0.00,-0.20,1.00,0,0);
    -ms-transform:matrix(1.00,0.00,-0.20,1.00,0,0);
    -webkit-transform:matrix(1.00,0.00,-0.20,1.00,0,0);
    margin: 2vw;
    transition: ease-in-out 0.2s;
}

#nous-rejoindre button:hover {
    color: #125C34;
    background-color: #00000000;
}

/* NOS EFFECTIFS */

#nos-effectifs {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

#nos-effectifs .title {
    margin-top: 20vh;
    margin-left: 8vw;
    width: 100%;
    height: 100%;
    font-family: 'Lilita One';
    color: #111111;
}

#nos-effectifs .sub-name {
    font-size: 2vw;
}

#nos-effectifs .sub-name b {
    font-size: 2.25vw;
    color: #9d2424;
    font-style: italic;
    margin-right: 1vw;
}

#nos-effectifs .roles {
    margin-top: 5vh;
    display: flex;
}

#nos-effectifs .box {
    width: 45%;
}

#nos-effectifs .gerants {
    margin-top: 5vh;
    width: 62.5%;
    display: flex;
    justify-content: space-around;
}

#nos-effectifs .employe {
    width: 10vw;
    display: flex;
    flex-direction: column;
}

#nos-effectifs .illustration {
    width: 10vw;
    height: 10vw;
    position: block;
    overflow: hidden;
}

#nos-effectifs .illustration img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

#nos-effectifs p {
    font-size: 1.25vw;
    color: #111111;
    margin: 1.5vh auto 0 auto;
}

/* FOOTER */

footer {
    height: 25vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    font-family: 'Lilita One';
}

footer .title {
    margin-top: 6vh;
    margin-left: 8vw;
    width: 25%;
    height: 100%;
    color: #111111;
    margin-right: 10vw;
}

footer .name {
    font-size: 1.25vw;
}

footer .name b {
    font-size: 1.75vw;
    color: #9d2424;
    font-style: italic;
    margin-right: 0.5vw;
}

footer .slogan {
    font-size: 1.25vw;
    font-style: italic;
}

.links {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 1.1vw;
    border-left: #9d2424 solid 0.2vw;
    height: min-content;
    margin: auto;
    transform:matrix(1.00,0.00,-0.20,1.00,0,0);
    -ms-transform:matrix(1.00,0.00,-0.20,1.00,0,0);
    -webkit-transform:matrix(1.00,0.00,-0.20,1.00,0,0);
}

footer a {
    margin: 0.5vw;
    cursor: pointer;
    color: #111111;
    text-decoration: none;
}

/* POPUPS */

.arrow {
    display: none;
    position: fixed;
    bottom: 12.5vh;
    right: 5vh;
    width: 2.5vw;
    height: 2.5vw;
    overflow: hidden;
    background-color: #125C34;
    border-radius: 25%;
    z-index: 5;
}

.arrow:hover {
    animation: pulse 1s;
}

.arrow img {
    object-fit: cover;
    width: 75%;
    height: 75%;
    margin: 0.25vw;
}

.d-link {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    width: 2.5vw;
    height: 2.5vw;
    overflow: hidden;
    background-color: #125C34;
    border-radius: 25%;
    z-index: 5;
}

.d-link:hover {
    animation: pulse 1s;
}

.d-link img {
    object-fit: contain;
    height: 65%;
    margin: 0.35vw 0 0 0.15vw;
}